<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header('Matches')"></head>
    <body>
    <div th:replace="partials/navbar :: navbar"></div>
        <main class="container">
            <div class="col-md-6 text-center">
            <h2>Here Are the Animals You've Matched With!</h2>
                <div class="row">
                    <div th:each="animal : ${animals}">
                        <div class="col-sm-5 col-md-2">
                            <div class="thumbnail well thumbnail-card">
                                <a th:href="@{/animal/{animalId}/(animalId=${animal.getId()})}">
                                    <div class="browse-animal-images">
                                        <img th:src="${animal.path}" class="pet"/>
                                    </div>
                                    <div class="caption caption-card text-center">
                                        <h3 th:text="${animal.name}"></h3>
                                        <p th:text="${animal.gender}"></p>
                                        <p th:text="${animal.age}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <div th:replace="partials/footer :: footer"></div>
    </body>
</html>