<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header('Login')"></head>
    <body>
        <div th:replace="partials/navbar :: navbar"></div>
        <main class="container">
            <div class="col-md-offset-5">
                <h1>Sign In</h1>
            </div>
            <div class="col-md-offset-5 error" th:if="${param.logout}">
                You have been logged out.
            </div>
            <div class="col-md-offset-5 error" th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div class="col-md-offset-3">



                <form th:action="@{/login}" method="post">
                    <label class="font" for="username">Username</label>
                    <br/>
                    <input id="username" name="username" type="text" />
                    <br/>
                    <label class="font" for="password">Password</label>
                    <br/>
                    <input id="password" name="password" type="password" />
                    <br/>
                    <input type="submit" value="Log In" />
                </form>




                <div class="col-sm-offset-2 col-sm-10 space">
                    <span>Not a member?</span> <a th:href="@{/register/adopter}"><button type="submit" class="btn btn-primary">Register Here!</button></a>
                </div>
                <div class="col-sm-offset-1 col-sm-10 space">
                    <span>Are you a Rescue Staff Member?</span> <a th:href="@{/register/rescue-shelter}"><button type="submit" class="btn btn-primary">Staff Portal</button></a>
                </div>
            </div>
        </main>
    </body>
</html>