<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('About')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container description">
    <div class="col-md-offset-5 col-xs-offset-3 title">
    <h1>about pawtify</h1>
    </div>
    <div class="description">
        <div class="col-md-offset-1 col-md-10 text-center">
            <p>Pawtify is a notification system designed to enhance the convience of matching people with pets.
                Take a look through our browse section to see which animals are already in your local area.<br/>
                Can’t find what you are looking for?<br/>
                Then create a pawtification that will notify you via text when your furever friend has been registered into a shelter.<br/>

                Pawtify is designed to allow any resuce shelter staff to insert a dog or cat into our database to help it find a purfect match. Resuce staff members can enter as many animals as they would like and have the flexbility to update, delete, or create animal information.
            </p>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-offset-1 quote text-center">
                <p><em>“The next time you want a pet, get notified with pawtify!”</em></p>
        </div>
    </div>
</main>
<main class="container developers">
    <div class="col-md-7 col-md-offset-4 col-xs-offset-3">
    <h1>Meet the Developers</h1>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                    <img src="/images/dev1.jpeg" alt="Developer" width="80%" class="image"/>
                <div class="caption text-center">
                    <h3>Emma DeJong</h3>
                    <a href="https://www.linkedin.com/in/emmaldejong" target="_blank">linkedin.com/in/emmaldejong</a>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/dev2.jpeg" alt="Developer" width="80%" class="image"/>
                <div class="caption text-center">
                    <h3>Laura Prochaska</h3>
                    <a href="https://www.linkedin.com/in/laura-prochaska" target="_blank">linkedin.com/in/laura-prochaska</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                    <img src="/images/dev3.jpeg" alt="Developer" width="80%" class="image" />
                <div class="caption text-center">
                    <h3>Bettina Trejo</h3>
                    <a href="https://www.linkedin.com/in/bettina-trejo" target="_blank">linkedin.com/in/bettina-trejo</a>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>