<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header('Home')"></head>
    <body class="body-container">
        <div th:replace="partials/navbar :: navbar"></div>
        <main>

                <div class="video-container col-md-12">
                    <div class="video">
                        <video id="myVideo" width="100%">
                            <source th:src="@{/video/pawtify.mp4}" type="video/mp4" />
                        </video>
                    </div>
                            <div class="slogan">Matching People with Pets. <br/> Get Notified with Pawtify. </div>
                            <a href="/about">
                            <button type="button" class="about btn btn-secondary btn-lg">Learn More</button>
                            </a>


                </div>


        </main>
        <main class="main-buttons home-container">
            <div class="col-md-offset-2 col-md-10 col-xs-12">
                <a th:href="@{/login}"><img src="/images/signin.png" alt="signin" width="20%"/></a>
                <a th:href="@{/pets}"><img src="/images/browse.png" alt="browse" width="35%"/></a>
                <a th:href="@{/register/adopter}"><img src="/images/register.png" alt="register" width="20%"/></a>
            </div>
        </main>

        <footer th:replace="partials/footer :: footer"></footer>
    </body>

</html>