<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Browse')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <div class="row">
        <div class="col-offset-6 col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Find Animal"/>
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
                </span>
            </div>
        </div>
    </div>




    <div th:each="animal : ${animals}">
        <div class="card" style="width: 10rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <a th:href="@{/animal/{animalId}/(animalId=${animal.getId()})}">
                        <div class="browse-animal-images">
                        <img width="80%" style="display: block; margin: 5px auto; float: left;" th:src="${animal.path}" />
                        </div>
                    <!--name-->

                        <span th:text="${animal.name}"></span>

                    <!--gender-->

                        <span th:text="${animal.gender}"></span>

                    <!--age-->

                        <span th:text="${animal.age}"></span>
                    </a>
                </h5>
            </div>
        </div>

    </div>



</main>

</body>
</html>