<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Pawtification')"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<main class="container">

<div>
    <h1>Want to make a pawtification?</h1><br/>
    <h1>Please sign in.</h1>
    <div class="col-sm-offset-2 col-sm-10 space">
        <a th:href="@{/login}"><button type="submit" class="btn btn-warning">Sign In Here!</button></a>
    </div>
</div>


</main>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>