<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header('Animal')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">


<div>
    <h1>Meet, <span th:text="${animal.name}"></span></h1>
    <div class="browse-animal-images">
        <img width="80%" style="display: block; margin: 5px auto; float: left;" th:src="${animal.path}" />
    </div>
    <span th:text="${catBreed}"></span>
    <span th:text="${dogBreed}"></span>
    <p>Age: <span th:text="${animal.age}">age</span></p>
    <p>Gender: <span th:text="${animal.gender}">gender</span></p>
    <p>Size: <span th:text="${animal.size}">size</span></p>
    <p>Color: <span th:text="${animal.color}">color</span></p>
    <p>Behavior: <span th:text="${animal.behavior}">behavior</span></p>
    <p>Shelter Name:<span th:text="${shelterName}">shelter location</span></p>
    <p>Location:<span th:text="${shelterAddress}">shelter location</span></p>
    <p>Phone Number: <span th:text="${shelterNumber}">shelter Phone</span></p>
</div>

<div>
    <p>I'm ready to meet my <em>furever</em> family! Come see me at <span th:text="${shelterName}">location</span></p>
    <p>Love, <span th:text="${animal.name}">name</span></p>
</div>


</main>


</body>
</html>