main {
    margin-top: 80px;
}


html {
    position: relative;
    /*min-height: 100%;*/
}

body {
    font-family: 'Nunito', sans-serif;
}


.format {
    background-color: #7b7b7b;
}

.navbar {
    height: 8rem;
}

.navbar .brand, .navbar .nav > li > a {
    color: white;
    font-size: 18px;
    margin-top: 2rem;
}

.nav-container {
    margin-left: 0;
    margin-right:0;
}


.navbar-inverse .navbar-brand {
    color: #54c6a0;
    font-size: 40px;
    margin-top: 1rem;
    font-family: 'Caveat Brush', cursive;
}

.inline {
    display: inline;
}

.main-img {
    opacity: .8;
    height: 60%;


}

.slogan {
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Concert One', cursive;
    font-size: 6vw;
    width: 80%;
    /*margin-left: 15%;*/
}


.about {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: maroon;
    border: 1px solid black;
}


.home-container {
    background-color: #805754;
    margin: 0;
    padding-top: 7%;
    padding-bottom: 7%;
    width: 100%;
}


.main-buttons {
    display: inline-block;
}

.body-color{
    background-color: #805754;
}

.space {
    margin-top: 3%;
}

.error {
    color: red;
}

.title {
    font-size: 2vw;
    color: #805754;
}

.quote {
    font-weight: bold;
    font-size:4vh;
}

.description {
    font-size: 3vh;
    background-color: #cedada;
    margin-left: 0;
    width: 100%;
    padding-bottom: 5%;
}

.developers {
    margin-top: 0;

}

/*color for dropdown nav*/
#navbar {
    background-color: #7b7b7b;
}

