main {
    margin-top: 80px;
}


html {
    position: relative;
}

body {
    font-family: 'Nunito', sans-serif;
}

.body-container {
    background: black;
}

.animals {
    vertical-align: middle;
    margin-left: 0;
    margin-top: -14%;
}


.navbar {
    height: 8rem;
}

.navbar .brand, .navbar .nav > li > a {
    color: white;
    font-size: 20px;
    margin-top: 2rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.navbar .brand, .navbar .nav > li > a > .name {
    color: #54c6a0;
    font-weight: bold;
}

.welcome {
    margin-top: 0;
}

.image {
    border-radius: 40%;
    margin-top: 2%;
}

#navbar > ul.nav.navbar-nav.navbar-right > li > form > button {
    color: #ffffff;
    font-size: 20px;
    margin-top: 3rem;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-family: 'Gloria Hallelujah', cursive;
    padding-top: 3%;
}

#navbar > ul.nav.navbar-nav.navbar-right > li > form > button:hover{
    color: #54c6a0;
    font-size: 20px;
    margin-top: 3rem;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-family: 'Gloria Hallelujah', cursive;
    padding-top: 3%;
}



body > main.main-buttons.home-container{
    background-color: #805754;
    width: 100%;
    display: inline-block;
}

.glyphicon-user:before {
    font-size: 1.7em;
}


.glyphicon-lock:before {
    font-size: 1.7em;
}

.card {
    background-color: rgba(142, 110, 106, 0.27);
    padding: 5%;
}



.profile {
    margin-top: 10%;
    font-size: 18px;
    color: #54c6a0;
    text-decoration: none;
}



.nav-container {
    margin-left: 0;
    margin-right:0;
}


.navbar-inverse .navbar-brand {
    color: #54c6a0;
    font-size: 50px;
    margin-top: 1rem;
    font-family: 'Caveat Brush', cursive;
}

.inline {
    display: inline;
}


.slogan {
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #a1fbdb;
    font-family: 'Concert One', cursive;
    font-size: 6vw;
    width: 80%;
    text-shadow: 2px 2px 4px #000000;
}

.direct > a:hover {
    opacity: .5;
}

.direct {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 87%;
    left: 55%;
    opacity: .9;
}


#behavior {
    width: 60%;
    margin-left: 7em;
}


.about {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: #7b7b7b;
    border: 2px solid #ffffff;
}

#navbar > ul:nth-child(1) > li > a:hover, #navbar > ul:nth-child(2) > li > a:hover {
    color: #92dcb1;
}



.home-container {
    background-color: #805754;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
}


.main-buttons {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 3%;
}

.body-color{
    background-color: #805754;
}

.space {
    margin-top: 3%;
}

.error {
    color: red;
}

.title {
    font-size: 2vw;
    color: #805754;
}

.quote {
    font-weight: bold;
    font-size:4vh;
    padding-top: 5%;

}

.description {
    font-size: 1.2em;
    background-color: #cedada;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 2%;
}

.developers {
    margin-top: 0;

}

/*color for dropdown nav*/
#navbar {
    background-color: transparent;
}

body > main.main-buttons.home-container.container > div {
    background-color: #805754;
    width: 100%;
}


.login {
    margin-left: 25%;
    margin-top: 25%;
    height: 70px;
    width: 50%;
    background-color: #70b19a;
    border: none;
}

.registration{
    border-left: 5px solid rgba(110, 85, 82, 0.8);
    margin-right: 0;
    margin-top: 10%;
    padding-left: 5%;
}

.greeting-match {
    font-family: 'Short Stack', cursive;
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 2%;
    border-bottom: 5px solid #a7d2b9;
    border-radius: 2px;
}


.redirect {
    margin: 10%;
    padding: 2%;
    background-color: #9cd6b5;
    opacity: .6;
    border-radius: 10px;
}


.register-btn {
    background-color: rgba(59, 3, 7, 0.65);
    color: #ffffff;
    width: 9em;
    border: 1px solid #886966;
}

.register-animal {
    padding-right: 2rem;
    margin-right: 6rem;
    border-right: 4px solid rgba(116, 208, 180, 0.93);
}


.background {
    padding: 3%;
    background-color: #cedada;
}

.sign {
    padding: 2%;
    background-color: #7f7474;
    font-size: 4vh;
    font-weight: bold;
    color: #fffcf9;
    border-radius: 10px;
}


.register {
    background-color: #1cdea88a;
    color: #ffffff;
    width: 9em;
}


.redirect > a:hover {
    opacity: .8;
}

.side-menu {
    height: max-content;
    background-color: #82434b;
    color: #ffffff;
    padding-bottom: 31%;
}


.profile-paw {
    margin-top: 8%;
    border-radius: 60%;
}


.video-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: #7a7a7a;

}

.push {
    margin-top: 6%;
}


.video {
    padding: 0px;
    margin: 0px;
    width: 100%;
    opacity: .6;
}

.mobile {
    display: none;
}


.border {
    border-bottom: 5px solid #a7d2b9;
    border-radius: 5px;
}


.pet {
    border-radius: 50%;
    border: 4px solid rgba(183, 168, 167, 0.97);
    position: relative;
    width: 130px;
    height: 135px;
    object-fit: cover;

}

.caption-card {
    font-family: 'Short Stack', cursive;
    color: white;
}


.pawtification {
    background-color: rgba(231, 243, 243, 0.4);
    color: black;
    padding-top: 1em;


}


.thumbnail {
    box-shadow: 3px 3px 1px #c8c8c8;
}

.thumbnail-card {
    color: black;
    background-color: rgba(167, 210, 185, 0.44);
    padding-bottom: 0;
}

.thumbnail > a:hover {
    text-decoration: none;
    font-weight: bolder;
}

.pawtify {
    font-family: 'Short Stack', cursive;
    font-size: 1em;
}


.form-group > select {
    border: 1px solid #9cd6b5
}



.search {
    background-color: #805754;
    color: white;
    margin-left: 0;
}


.show {
    margin-top: 13%;
    border-radius: 5%;
    border: 7px solid black;
}



.pet-quote {
    margin-top: 3%;
    font-size: 2rem;
    font-weight: bold;
    color: #8e6e6a;
}

.greeting {
    font-family: 'Short Stack', cursive;
    font-size: 5rem;
    font-weight: bolder;
    padding-bottom: 2%;
    border-bottom: 5px solid #a7d2b9;
    border-radius: 2px;
}

.characteristics {
    font-family: 'Nunito', sans-serif;
    /*font-weight: bold;*/
    font-size: 25px;


}

.match-btn {
    background-color: #3e0416;
}



/*########FOR MOBILE VIEW###########*/
@media (max-width:500px)  {
    .video {
        display: none;
    }

    .animals {
        display: hidden;
    }


    .mobile {
        display: inline;
        width: 100%;
        margin-top: 40%;
    }



    .body-container {
        background-color: #7b7b7b;
    }

    .slogan {
        position: absolute;
        top: 4em;
        margin-left: 3%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-family: 'Concert One', cursive;
        font-size: 2rem;
    }


    .about {
        position: unset;
        margin-top: 15%;
        margin-left: 53%;
        color: #000000;
        background-color: #a1fbdb;
        border: 2px solid #ffffff;
        opacity: .8;
    }

    .video-container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;

    }


    .direct {
        opacity: .9;
        margin-top: 7rem;
        margin-left: 7%;
        width: 80%;
    }


    .pet {
        border-radius: 50%;
        border: 3px solid rgba(183, 168, 167, 0.97);
        position: relative;
        margin-left: 23%;
        width: 11em;
        height: 11.1em;
        object-fit: cover;
    }
}


@media only screen and (max-width: 415px) and  (min-width: 374px) {

    .pet {
        border-radius: 50%;
        border: 3px solid rgba(183, 168, 167, 0.97);
        position: relative;
        margin-left: 27%;
        width: 11em;
        height: 11.1em;
        object-fit: cover;
    }

}



@media only screen and (max-width: 993px) {
    .animals {
        display: none;
    }


    #navbar > ul.nav.navbar-nav.navbar-right > li > form > button {
        color: #ffffff;
        font-size: 14px;
        margin-top: 3rem;
        text-decoration: none;
        background-color: transparent;
        border: none;
        font-family: 'Gloria Hallelujah', cursive;
        padding-top: 3%;
    }

    #navbar > ul.nav.navbar-nav.navbar-right > li > form > button:hover{
        color: #54c6a0;
        font-size: 14px;
        margin-top: 3rem;
        text-decoration: none;
        background-color: transparent;
        border: none;
        font-family: 'Gloria Hallelujah', cursive;
        padding-top: 3%;
    }

    .navbar .brand, .navbar .nav > li > a {
        color: white;
        font-size: 14px;
        margin-top: 2rem;
        font-family: 'Gloria Hallelujah', cursive;
    }

}


/*#####Card View for Md Screens#####*/
@media only screen and (max-width: 1200px) and (min-width: 991px) {
    .pet {
        border-radius: 50%;
        border: 3px solid rgba(183, 168, 167, 0.97);
        position: relative;
        width: 6em;
        height: 6.1em;
        margin-left: 4%;
        object-fit: cover;
    }

}

@media only screen and (max-width: 992px) and (min-width: 772px) {
    .pet {
        border-radius: 50%;
        border: 3px solid rgba(183, 168, 167, 0.97);
        position: relative;
        width: 6em;
        height: 6.1em;
        margin-left: 30%;
        object-fit: cover;
    }
}


@media only screen and (max-width: 771px) and (min-width: 767px) {
   .pet {
        border-radius: 50%;
        border: 3px solid rgba(183, 168, 167, 0.97);
        position: relative;
        margin-left: 2rem;
        width: 10em;
        height: 10em;
        object-fit: cover;
   }

    .thumbnail-card {
        margin-left: 20%;
    }
}

@media only screen and (max-width: 765px) and (min-width: 712px) {
    .pet {
        border-radius: 50%;
        border: 3px solid rgba(183, 168, 167, 0.97);
        position: relative;
        margin-left: 25rem;
        width: 10em;
        height: 10em;
        object-fit: cover;
    }
}

@media only screen and (max-width: 711px) and (min-width: 501px) {
    .pet {
        border-radius: 50%;
        border: 3px solid rgba(183, 168, 167, 0.97);
        position: relative;
        margin-left: 31%;
        width: 12em;
        height: 12.1em;
        object-fit: cover;
    }
}






/*#####Card View for Large Screens#####*/
@media only screen and (min-width: 1500px) {
    .pet {
        border-radius: 50%;
        border: 3px solid rgba(183, 168, 167, 0.97);
        position: relative;
        margin-left: .5em;
        width: 8em;
        height: 8.1em;
        object-fit: cover;
    }

}


/*#####Navbar collapse background#####*/
@media only screen and (max-width: 760px) {
    #navbar {
        background-color: black;
    }

}

