
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->

<!--</head>-->
<!--<body>-->
<!--<div style="padding-top: 20%" class="row">-->
    <!--<div class="col-md-offset-4 col-md-4 space">-->
        <!--<form th:action="@{'/filter-animals'}" th:method="GET">-->
            <!--<div class="form-group">-->
                <!--<input name="search" type="text" class="form-control" id="search" placeholder="Search by breed" />-->
                <!--<span class="col-xs-offset-5">-->
                    <!--<button class="btn search" type="submit">Search</button>-->
                    <!--</span>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!--<search-bar th:replace="partials/search-bar :: search-bar"></search-bar>-->