<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header(${error})"></head>
    <body>
        <div th:replace="partials/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col l8 offset-l2 center">
                    <h1 th:text="${error}"></h1>
                    <img class="center" src="/static/images/sad-cat.jpeg" />

                </div>
            </div>
        </div>
    <footer th:replace="partials/footer :: footer"></footer>
    </body>
</html>