<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Form')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">
    <div class="row">

    <h1>Edit Animal</h1>

    <form class="form-horizontal" th:action="@{/animal/edit}" th:method="post" th:object="${editAnimal}" enctype="multipart/form-data">
        <div class="form-group">
        <h3>Update Cat Breed</h3>
            <select class="cat" th:name="catBreed" th:field="*{catBreed}">
                <option th:value="null" selected="selected">Options</option>
                <option th:each="catBreed : ${catBreeds}" th:value="${catBreed.id}" th:text="${catBreed.breed}"></option>
            </select>
        </div>
        <span>And/Or</span>
        <br/>
        <div class="form-group">
        <h3>Update Dog Breed</h3>
            <select class="dog" th:name="dogBreed" th:field="*{dogBreed}">
                <option th:value="null" selected="selected">Options</option>
                <option th:each="dogBreed : ${dogBreeds}" th:value="${dogBreed.id}" th:text="${dogBreed.breed}"></option>
            </select>
        </div>
        <span>Update Pet Name </span>
        <h4 th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></h4>
        <input th:field="*{name}" th:value="${name}" placeholder="Enter a Pet Name"/>
        <br/>
        <br/>
        <div class="form-group">
            <span>Age</span>
            <select name="age" size="1">
                <option value="0" >Select Age</option>
                <option value="Less thank 1 year">Less than 1 year</option>
                <option value="More than 1 year">More than 1 year</option>
            </select>
        </div>
        <div class="form-group">
            <span>Color</span>
            <select name="color" size="1">
                <option value="0" >Select Color</option>
                <option value="Black">Black</option>
                <option value="Brown">Brown</option>
                <option value="White">White</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <span>Size</span>
            <select name="size" size="1">
                <option value="0">Select Size</option>
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
            </select>
        </div>
        <div class="form-group">
            <span>Gender</span>
            <select name="gender" size="1">
                <option value="0">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>

        <div>
            <div class="form-group">
                <label for="behavior">Behavior of Animal</label><br/>
                <h4 th:if="${#fields.hasErrors('behavior')}" th:errors="*{behavior}"></h4>
                <textarea th:field="*{behavior}" th:value="${behavior}" class="form-control" id="behavior" rows="3" placeholder="Include Animals Behavior"></textarea>
            </div>
        </div>

        <!--form for image-->
        <!--<div class="form-group">-->
        <!--<label for="animalphoto">Upload Animal Image</label><br/>-->
        <!--<input type="file" class="form-control-file" id="animalphoto">-->
        <!--</div>-->
        <input type="hidden" th:field="*{id}" th:value="${id}"/>
        <div>
            <label id="upload-file-title" for="file"></label>
            <input th:type="hidden" id="file" name="file" />
            <!--type="file"-->
            <p type="hidden" th:text="${path}"></p>
            <br />
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        </div>
    </form>

    <h2>Permanently Delete Animal</h2>
    <form th:action="@{/animal/delete}" th:method="post" th:object="${editAnimal}">
        <input type="hidden" th:field="*{id}" />
        <button id="delete">Delete</button>
    </form>
    </div>
</main>
</body>
</html>