<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header('Form')"></head>
    <body>
        <div th:replace="partials/navbar :: navbar"></div>

        <main class="container">
            <div class="row push">
                <div class="col-md-5 text-center register-animal">
                <h1>Register Your Animal</h1>
                 <form class="form-horizontal" th:action="@{/animal/create}" th:method="post" th:object="${animal}" enctype="multipart/form-data">
                <div class="form-group col-md-offset-6 col-md-7">
                    <h3>Cat Breeds</h3>
                    <select class="cat" th:name="catBreed" th:field="*{catBreed}">
                        <option th:value="null" selected="selected">Options</option>
                        <option th:each="catBreed : ${catBreeds}" th:value="${catBreed.id}" th:text="${catBreed.breed}"></option>
                    </select>
                </div>
                <div class="form-group col-md-offset-8 col-md-6">
                <h3>Dog Breeds</h3>
                <select class="dog" th:name="dogBreed" th:field="*{dogBreed}">
                    <option th:value="null" selected="selected">Options</option>
                    <option th:each="dogBreed : ${dogBreeds}" th:value="${dogBreed.id}" th:text="${dogBreed.breed}"></option>
                </select>
                </div>
            <div class="form-group">
                <select name="age" size="1">
                    <option th:value="null" >Select Age</option>
                    <option value="Less than 1 year">Less than 1 year</option>
                    <option value="More than 1 year">More than 1 year</option>
                </select>
            </div>
            <div class="form-group">
                <select name="color" size="1">
                    <option th:value="null" >Select Color</option>
                    <option value="Black">Black</option>
                    <option value="Brown">Brown</option>
                    <option value="White">White</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <select name="size" size="1">
                    <option th:value="null">Select Size</option>
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
            </div>
            <div class="form-group">
                <select name="gender" size="1">
                    <option th:value="null">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
                     <div class="form-group col-md-offset-3">
                    <label>Pet Name </label>
                    <input th:field="*{name}" th:value="${name}" placeholder="Enter a Pet Name"/>
                     </div>
                    <div class="form-group text-center">
                        <label for="behavior">Behavior of Animal</label><br/>
                        <textarea th:field="*{behavior}" th:value="${behavior}" class="form-control" id="behavior" rows="3" placeholder="Include Animal's Behavior"></textarea>
                    </div>
                    <div class="form-group text-center inline">
                        <label id="upload-file-title" for="file">Upload An Image</label>
                        <input class="col-md-offset-4" id="file" name="file" type="file"/>
                    </div>
                    <div class="form-group">
                        <select th:name="rescueshelter" th:field="*{rescueshelter}">
                            <option value="shelter">Select Your Shelter</option>
                            <option th:each="rescueshelter : ${rescueshelters}" th:value="${rescueshelter.id}" th:text="${rescueshelter.name}"></option>
                        </select>
                    </div>
                <div class="form-group">
                        <button type="submit" class="btn register-btn">Register</button>
                </div>
                </form>
                </div>
                <div class="col-md-5 text-center">
                    <h3>Registered Animals</h3>
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th scope="col">Animal ID</th>
                        <th scope="col">Cat Breed</th>
                        <th scope="col">Dog Breed</th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Age</th>
                        <th scope="col">Color</th>
                        <th scope="col">Shelter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="animal : ${animals}">
                        <td th:text="${animal.id}"></td>
                        <td th:text="${animal.catBreed} ? ${animal.catBreed.getBreed()} : ' '"></td>
                        <td th:text="${animal.dogBreed} ? ${animal.dogBreed.getBreed()} : ' '"></td>
                        <td th:text="${animal.name}"></td>
                        <td th:text="${animal.size}"></td>
                        <td th:text="${animal.gender}"></td>
                        <td th:text="${animal.age}"></td>
                        <td th:text="${animal.color}"></td>
                        <td th:text="${animal.rescueshelter.getName()}"></td>
                        <td><a th:href="@{/animal/{animalId}/edit(animalId=${animal.getId()})}">Edit</a></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                </div>
        </main>
    <footer th:replace="partials/footer :: footer"></footer>
    </body>
</html>