<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header('Portal')"></head>
    <body>
        <div th:replace="partials/navbar :: navbar"></div>
        <main class="container">
            <div class="col-md-offset-3">
                <form class="form-horizontal" th:action="@{/register/shelter-registration}" th:method="post" th:object="${rescueShelter}">
                    <div class="form-group">
                        <h1>Please Select Your Shelter Affiliation</h1>
                        <div class="form-group">
                            <select >
                                <option value="shelter">Select Your Shelter</option>
                                <option th:each="shelter : ${rescueshelters}" th:name="rescueshelter" th:value="${shelter.id}"><span th:text="${shelter.name}"></span></option>
                            </select>
                        </div>
                    </div>
                    <br/>
                               <!--<span>Pick a Shelter</span>-->
                    <!--<div class="form-group">-->
                                <!--<select name="shelter" size="1">-->
                                    <!--<option value="Select Shelter">Select Shelter</option>-->
                                    <!--<option value="Animal Care Services">Animal Care Services</option>-->
                                    <!--<option value="Animal Defense League of Texas">Animal Defense League of Texas</option>-->
                                    <!--<option value="Bulverde Area Humane Society">Bulverde Area Humane Society</option>-->
                                    <!--<option value="Helotes Humane Society">Helotes Humane Society</option>-->
                                    <!--<option value="Kirby-Bexar Animal Facility">Kirby-Bexar Animal Facility</option>-->
                                    <!--<option value="Paws Ranch Rescue And Animal Sanctuary">Paws Ranch Rescue And Animal Sanctuary</option>-->
                                    <!--<option value="SAPA">SAPA</option>-->
                                    <!--<option value="San Antonio Feral Cat Coalition">San Antonio Feral Cat Coalition</option>-->
                                    <!--<option value="San Antonio Humane Society">San Antonio Humane Society</option>-->
                                    <!--<option value="SNIPSA">SNIPSA</option>-->
                                    <!--<option value="Universal City Animal Shelter">Universal City Animal Shelter</option>-->
                                    <!--<option value="Wayward Whiskers Cat Rescue">Wayward Whiskers Cat Rescue</option>-->
                                <!--</select>-->
                    <!--</div>-->

                    <div class="form-group">
                        <!--<input type="submit" class="btn btn-primary" value="Complete Shelter Registration"/>-->
                        <button type="submit" class="btn btn-default">My Shelter</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>